# Python virtual environments & packages
venv/
.venv/
env/
ENV/
*.pyc
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

# Node modules & frontend build outputs
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
/models

# Local environment files
.env
.env.local
.env.*.local
codeSource(Repo Link).txt
rapport.pdf
# OS files
.DS_Store
Thumbs.db
